*{
/*Google font here	*/
	font-family: 'Luckiest Guy', cursive;
/*	background-color: black;*/
/*	background-image: linear-gradient(to right, black , gray);*/
	text-align: center;
	color: white;
}

body{
	/*background: url("./images/codebackground.jpg");*/
	background-color: black;
	/*background-image: linear-gradient(to right, black , gray);*/
}
.card{
	align-content: center;
}
#mainbg{
	background: url("./images/coverphotos/networkcloud.jpg");
	background-size: cover;
	background-repeat: no-repeat; 

}
#aboutmebg{
	background: url("./images/coverphotos/abstractgeometric.jpg");
	background-size: cover;
	background-repeat: no-repeat; 

}
#projectsbg{
	background: url("./images/coverphotos/greencode.jpeg");
	background-size: cover;
	background-repeat: no-repeat; 
}
#toolsbg{
	background: url("./images/coverphotos/handstyping.jpeg");
	background-size: cover;
	background-repeat: no-repeat; 
	background-color: black;
}
#contactmebg{
	background: url("./images/coverphotos/digitalbinarycode.JPG");
	background-size: cover;
	background-repeat: no-repeat; 
}

#me{
	width: 420px;
	border-radius: 10%;
}


hr{
	background-color: white;
}
